h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-large);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-large);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-medium);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-medium);
}

h5 {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-default);
}

h6 {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-default);
}